<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WholesaleMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Wholesale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WholesaleMonitor.Properties.Settings.WholesaleConnectionString"
            connectionString="Dsn=wholesale;uid=adm0;pwd=systemcom" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WholesaleMonitor.Properties.Settings>
            <setting name="odbc_dsn" serializeAs="String">
                <value />
            </setting>
            <setting name="odbc_usrid" serializeAs="String">
                <value />
            </setting>
            <setting name="odbc_pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mute" serializeAs="String">
                <value>False</value>
            </setting>
        </WholesaleMonitor.Properties.Settings>
        <Wholesale.Properties.Settings>
            <setting name="odbc_dsn" serializeAs="String">
                <value/>
            </setting>
            <setting name="odbc_usrid" serializeAs="String">
                <value/>
            </setting>
            <setting name="odbc_pwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastID" serializeAs="String">
                <value>-1</value>
            </setting>
        </Wholesale.Properties.Settings>
    </userSettings>
</configuration>
