<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SummitDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WholesaleImportService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SummitDataService.Properties.Settings>
            <setting name="odbc_dsn" serializeAs="String">
                <value />
            </setting>
            <setting name="odbc_usrid" serializeAs="String">
                <value />
            </setting>
            <setting name="odbc_pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="isWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="period_Minute" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="importFolderOfItem" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFolderOfItem" serializeAs="String">
                <value />
            </setting>
            <setting name="isInsertItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isInsertCustomer" serializeAs="String">
                <value>False</value>
            </setting>
        </SummitDataService.Properties.Settings>
        <WholesaleImportService.Properties.Settings>
            <setting name="odbc_dsn" serializeAs="String">
                <value />
            </setting>
            <setting name="odbc_usrid" serializeAs="String">
                <value />
            </setting>
            <setting name="odbc_pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="isWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="period_Minute" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="importFolderOfItem" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFolderOfItem" serializeAs="String">
                <value />
            </setting>
            <setting name="isInsertItems" serializeAs="String">
                <value>False</value>
            </setting>
        </WholesaleImportService.Properties.Settings>
    </userSettings>
</configuration>